
/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
* {
	margin:0px auto;
	padding:0px auto;
	font-size:12px;
}

html,body {background: white;-webkit-text-size-adjust: none; margin: 0px; }  

body {
	position:relative;
	background-repeat: repeat; 
	background: url(../images/bg2.jpg) !important;
	height: auto;
}

a {text-decoration: none !important;}
a:link { text-decoration: underline; color:gray; } 
a:visited { text-decoration: underline; color: #385F8A; }
a:hover { text-decoration: underline; color: #385F8A; }
a:active, a:focus { text-decoration: underline; color: #000; }


.container {
	width:950px;
}

.box {
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px;
	background-color: white;
	border: 2px solid white;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;	
}

.box .fr {
	float:right; 	
}
 
.box .cell {
	border-bottom: 1px solid #E2E2E2;
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
}

.box .sep {
	border-top: 1px solid #F0F0F0;     

	margin: 10px 0px;
}


/**************************************/
/*              HEADER                */
/**************************************/

#header { border-bottom-style: solid; border-bottom-width: 1px; border-color: #e5dbd6; margin: 0px auto;
	width: 100%; color: #f4f4f4; background-color: #333; height: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px;}

#logo {
	color: white;          
	font-color: white;
	font-size: 32px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 0px; 
	float: left;
}


.slogen {
	font-size: 18px;
	font-weight: bold;
	float: right; 
	padding-top: 10px;   
}

.bigger {
	font-size: 16px;
}

small {
	color:#E2E2E2;
	font-size: smaller;
}

strong, b {
	font-weight: bolder;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/

#warpper {
	min-height: 480px;    
   
	margin:0px auto;
	padding:0px auto;
}

#content {
	padding-top: 20px;
	padding-bottom: 20px;
}

#sidebar {
	float: left;
}



/**************************************/
/*               FOOTER               */
/**************************************/
#footer { 	
	margin:0px auto;
	padding:0px auto;
	border-top-width: 1px dashed  #a6a6a6; 
	background-color: white; min-height: 60px;
	color:#999; }
	
#footer .container {
	padding: 15px 20px;
	width: 920px;
}

#footer .fr {
	float:right;
	margin: 0px ;
}
