{% extends "templates/default.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}  
	<div class="span-16 prefix-4 suffix-4 last" style="padding-top: 50px">
    <div class="box" >
		<div class="cell">
			<div class="bigger"><strong>About</strong></div>
			<div class="fr">
				
			</div>
		</div>
		<div class="cell">
			<h5>请求限制</h5>
			<div>示知</div>
			<h5>请求限制</h5>
			<div>示知</div>
			<h5>请求限制</h5>
			<div>示知</div>
			<h5>请求限制</h5>
			<div>示知</div>
		</div>   

    </div>

	</div>
{% endblock %}