{% extends "templates/default.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}  
	<div class="span-16 prefix-4 suffix-4 last" style="padding-top: 50px">
    <div class="box" >
		<div class="cell">
			<div class="bigger"><strong>About</strong></div>
			<div class="fr">
				
			</div>
		</div>
		<div class="cell">
			<p>SiNALY是一个非常简单的程序，它试图将你的<a href="http://t.sina.com.cn" target="_blank">新浪微博</a>与书签分享网络<a href="http://trunk.ly" target="_blank">Trunk.ly</a>联结在一起。</p>                         
			<p>    
			本程序能帮助你将新浪微博上所<span class="bigger"> 发现 </span>有价值的文章，精彩的视频，有趣的网站等……同步<span class="bigger"> 分享  </span>到<a href="http://trunk.ly" target="_blank">Trunk.ly</a>上，而你只需要发布或转发一条包含链接的微博，其他的一切都是自动的。
			</p>                                                   
			<p>更重要的，<a href="http://trunk.ly" target="_blank">Trunk.ly</a>不僅僅是一个书签分享网络，它利用你收藏的书签建立一个属于你的网页搜索引擎，让你更快、更有效地<span class="bigger"> 搜索 </span>自己的收藏.</p>
		</div>   

    </div>

	</div>
{% endblock %}