{% extends "templates/default.html" %}
{% block title %}FAQ{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}  
	<div >
    <div class="box" >
		<div class="cell">
			<div class="bigger"><strong>Changelog</strong></div>
			<div class="fr">
				
			</div>
		</div>
		<div class="cell">
			<h5>2011-03-01 11:38</h5>
			<div><ul>
					<li>添加解除新浪微博与Trunk.ly的同步功能</li>
				</ul>
			</div>
			<h5>2011-02-28 15:48</h5>
			<div><ul>
					<li>添加微博内容含https的链接支持</li>
					<li>添加changelog页面</li>
				</ul>
			</div>
		</div>   
		
    </div>

	</div>
{% endblock %}