{% extends "templates/default.html" %}
{% block title %}FAQ{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}  
	<div >
    <div class="box" >
		<div class="cell">
			<div class="bigger"><strong>FAQ</strong></div>
			<div class="fr">
				
			</div>
		</div>
		<div class="cell">
			<h5>SiNALY多长时间做一次同步？</h5>
			<div>每隔5分钟执行一次</div>
			<h5>为什么需要提供Trunk.ly的帐号和密码？</h5>
			<div>因为Trunk.ly并未提供OAuth认证API，只提供了 Basic Authentication</div>
		</div>   
		
    </div>

	</div>
{% endblock %}