<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - SiNALY</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="SiNALY是一个非常简单的程序，它试图将你的新浪微博与书签分享网络Trunk.ly联结在一起。本程序能帮助你将新浪微博上所 发现 有价值的文章，精彩的视频，有趣的网站等……同步 分享 到Trunk.ly上，而你只需要发布或转发一条包含链接的微博，其他的一切都是自动的。" />
	<meta name="keywords" content="微博 书签 trunk.ly SiNALY" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/static/stylesheets/screen.css">
	<link rel="stylesheet" type="text/css" media="print" href="/static/stylesheets/print.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="screen,projection" href="/static/stylesheets/ie.css">    
	<![endif]-->
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/static/stylesheets/style.css">

    <!-- <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"> -->
	<script src="/static/javascripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>

    {% endblock %}
</head>
<body>
	<div id="header">         
		<div class="container">
			<a href="/"  id="logo" >SiNALY</a>
			<span class="slogen">发现 • 分享 • 搜索</span>
		</div> 
	</div>
    <div id="warpper"  >
		<div id="content"  class="container">
			{% block content %}{% endblock %}
		</div>
		<div id="sidebar">
			{% block sidebar %}{% endblock %}
		</div>
	</div>
	<div id="footer" >
		<div class="container">        
			{% block footer %}
        		<div class="fr">
					<a href="http://www.webfaction.com/?affiliate=roymax" target="_blank" title="WebFaction Agile hosting from $5.50/mo"><img src="/static/images/webfaction-110x40-dark-logo-bg.png"></a>&nbsp;&nbsp;
					<a href="http://trunk.ly" target="_blank"><img src="http://trunk.ly/static/trunkly-social-icon.png"></a>&nbsp;&nbsp;
					<a href="http://open.t.sina.com.cn" target="_blank"><img src="/static/images/sina-logo-64_64.png"></a>
				</div>
				<!-- <strong><a href="/about">About</a></strong>&nbsp;&nbsp;|&nbsp;&nbsp;-->
				<strong><a href="/about" title="About SiNALY">About</a></strong>&nbsp;&nbsp;|&nbsp;&nbsp; 
				<strong><a href="/faq">FAQ</a></strong>&nbsp;&nbsp;|&nbsp;&nbsp;
				<strong><a href="http://t.sina.com.cn/roymax" target="_blank"  title="Roy的新浪微博">反馈</a></strong>
				<div style="height:8px" ></div>
				<div>SiNALY是一个非常简单的程序，它试图将你的新浪微博与书签分享网络Trunk.ly联结在一起。</div>
				<div>&copy; Copyright 2010 by <a href="http://blog.roynotes.com/" target="_blank" title="Roy Notes">Roy</a>. </div>
				<div style="height:5px" ></div>
				<small>
					VERSION: Beta Forever          
					<br>
			   		 &#x238B;&nbsp;&nbsp;No Time is No Excuse
				</small>
        	{% endblock %} 
		</div>
    </div>
	<script src="/static/javascripts/google-analytics.js" type="text/javascript" charset="utf-8"></script>
	
</body>